*{
    margin: 0;
    padding: 0;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul, ol{
    list-style: none;
}

a{
text-decoration: none;
color: #353535;
}

body{
    font-family: "S-CoreDream-4Regular";
    font-size: 14px;
    min-width: 1350px;
}

.text-spacing{
    letter-spacing: 1.5px;
}

#header_inner{
    margin: 0 auto;
    width: 1320px;
    height: 278px;
}

#nav{
    float: right;
    padding-top: 20px;
}

#nav li{
    float: left;
    margin-left: 20px;
}

#container{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

#menu{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}

#menu>li{
    float: left;
    padding: 15px 0;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

#menu>li>a{
    font-family: "raleway";
    font-size: 18px;
    font-weight: bold;
}

#logo{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%,0);
}




/*coummunity*/
#coummunity{
    margin: 0 auto;
    width: 1320px;
    height: 400px;
    text-align: center;
    background: url(images/community.png) no-repeat;
    margin-top: 107px;
}

#coummunity p{
    color: #fff;
    font-size: 76px;
    font-family: "raleway";
    font-weight: bolder;
    padding: 160px 0;
}




/*list*/
#list{
  margin: 0 auto;
  width: 1320px;
  height: 70px;
  padding-top: 127px;
  padding-bottom: 120px;
}

#list p{
    font-family: "S-CoreDream-4Regular";
    font-size: 20px;
    color: #999;
    padding: 23px 0;
    text-align: center;
}

#home, #notice, #faq, #advice{
    width: 328px;
    height: 70px;
    border: 1px solid #ccc;
    float: left;
}




/*collection*/
#collection{
    width: 1320px;
    margin: 0 auto;
    height: 365px;
    background-color: #f5f5f7;
    text-align: center;
    margin-bottom: 120px;
}

.collection_text{
    padding-top: 170px;
}

#collection .text_1{
    font-size: 24px;
}

#collection .text_2{
    font-size: 18px;
    color: #999;
    padding-top: 15px;
    padding-bottom: 22px;
}

#collection .btn{
  border: 2px solid #ccc;
  color: #999;
  padding: 8px 14px;
  font-size: 18px;
  width: 80px;
  background: #fff;
  margin: 0 auto;
}

.membership{
    width: 439px;
    height: 365px;
    background: url(images/membership.png) no-repeat;
    float: left;
}


.sns{
    width: 440px;
    height: 365px;
    background: url(images/sns.png) no-repeat;
    float: left;
}

.event{
    width: 441px;
    height: 365px;
    background: url(images/event.png) no-repeat;
    float: left;
}




/*nt*/
#box{
    width: 1320px;
    height: 440px;
    margin: 0 auto;
}

#nt{
    width: 622px;
    height: 280px;
    margin: 0 auto;
    float: left;
}

#nt th{
    width: 500px;
    text-align: left;
    padding: 24px 0;
    font-size: 18px;
    font-weight: lighter;
    color: #353535;
}

.under{
    border-bottom: 1px solid #ddd;
}

#nt td{
    width: 122px;
    text-align: right;
    color: #999;
}

.line1{
    width: 622px;
    height: 35px;
    padding: 10px 0;
    border-bottom: 1px solid #353535;
}

.line1 h2{
    float: left;
    font-size: 24px;
    font-weight: 600;
    color: #353535;
}

.line1 h4{
    float: right;
    color: #353535;
    margin-top: 10px;
}




/*skin*/
#skin{
    width: 608px;
    height: 280px;
    margin: 0 auto;
    float: right;
}

#skin h2{
    width: 608px;
    height: 30px;
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #353535;
}

.background{
    background-color: #b1cbae;
    color: #fff;
    height: 232px;
    margin-top: 15px;
    font-family: "GmarketSansMedium";
}

.back_inner{
    padding-left: 50px;
}

.big{
    font-size: 32px;
    padding-top: 45px;
    padding-bottom: 30px;
}

.small{
    font-size: 17px;
}

.btn1{
    float: right;
    position: relative;
    bottom: 18px;
    right: 30px;
    border: 2px solid #fff;
    padding: 7px 22px;
}

.go{
    position: relative;
    bottom: 3px;
}

.size{
    font-size: 18px;
    font-family: "S-CoreDream-5Medium";
    padding-top: 10px;
}




/*mini_banner*/
#mini_banner{
    height: 200px;
    width: 1320px;
    margin: 0 auto;
    border: 10px solid #f5f5f7;
    margin-bottom: 125px;
}

#mini_inner{
    padding: 80px;
}

.question{
    font-size: 26px;
    color: #353535;
    width: 280px;
    float: left;
}

.plus{
    font-size: 18px;
    color: #999;
    width: 600px;
    float: left;
    margin-top: 7px;
}

.btn2{
    width: 116px;
    height: 20px;
    border: 2px solid #999;
    color: #999;
    float: right;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
}




/*data*/
#data{
    width: 1320px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 200px;
}

#data_inner1{
    width: 488px;
    height: 125px;
    float: left;
    margin-top: 10px;
}

.computer{
    float: left;
}

.online1{
    font-size: 24px;
    color: #999;
    float: left;
    width: 300px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.online2{
    font-size: 24px;
    color: #999;
    float: left;
    width: 400px;
    padding-left: 40px;
    padding-bottom: 15px;
}


.bell{
    float: left;
    padding-left: 40px;
    padding-right: 10px;
}

.bold_time1{
    font-size: 24px;
    color: #969696;
    font-weight: bolder;
    font-family: "GmarketSansMedium";
    float: left;
}

.bold_time2{
    font-size: 24px;
    color: #969696;
    font-weight: bolder;
    font-family: "GmarketSansMedium";
    float: left;
    padding-left: 40px;
}

.line{
    float: left;
}

#data_inner2{
    width: 832px;
    height: 125px;
    float: left;
}

.clock{
    padding-left: 70px;
    float: left;
}




/*footer*/
#footer_inner{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

#ft_menu{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}

#ft_menu>li{
    float: left;
    padding: 15px 0;
    width: 155px;
    text-align: left;
}

#ft_menu>li>a{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 550;
}

#footer_bottom{
    width: 1320px;
    margin: 0 auto;
    height: 320px;
}

#fb_inner1{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}

.call{
    font-size: 18px;
    font-family: "GmarketSansMedium";
    color: #353535;
    float: left;
    padding-top: 60px;
    line-height: 35px;
    font-weight: bold;
}

.mail{
    font-size: 18px;
    font-family: "GmarketSansMedium";
    float: left;
    color: #353535;
    padding-top: 60px;
    padding-left: 130px;
    line-height: 35px;
    font-weight: bold;
}

.mini_logo{
    padding-top: 70px;
    float: right;
}

#fb_inner2{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
    font-family: "G마켓 산스";
    font-weight: lighter;
    font-size: 12px;
    float: left;
    padding-left: 60px;
}

.time{
    padding-top: 45px;
    padding-bottom: 20px;
    font-family: "GmarketSansLight";
    font-size: 12px;
}

.info{
    line-height: 25px;
    font-family: "GmarketSansLight";
    font-size: 12px;
}


